.App {
  margin: 0;
  padding: 0;
  color: #222;
}

.App-header {
  background-color: #34A5DA;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: #222;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
}

main {
  background-color: #222;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #EBEBEB;
  height: 60vh;
  width: 80vw;
  padding-left: 30px;
}

h2 {
  border-bottom: 2px solid #34A5DA;
  width: fit-content;
}

.linkContainer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 80vw;
}

.buttonContainer {
  display: flex;
  align-items: center;
  width: 18vw;
  justify-content: space-between;
}

.buttonLink {
  cursor: pointer;
  width: 10vw;
}

.button {
  border-radius: 10px;
  background-color: #34A5DA;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.cardIndex {
  justify-self: flex-end;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  background-color: #EBEBEB;
  padding: 30px;
}

.formContainer input {
  display: block;
}